body{
    margin: 0;
    overflow-x: hidden;
}

.filter-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(71deg) brightness(102%) contrast(101%);
}

.ingredient-detail-header{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.9) 100%), url("../assets/makanan.png");
    background-position: center;
    background-size: cover;
}